<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AuthorizationQueryParametersError</Code><Message>Query-string authentication version 4 requires the X-Amz-Algorithm, X-Amz-Credential, X-Amz-Signature, X-Amz-Date, X-Amz-SignedHeaders, and X-Amz-Expires parameters.</Message><RequestId>N7VFJZSQF1ZFTTW9</RequestId><HostId>hxDncFy+/U0elPTCdmG2u6EXhx17XVu2983/deDyCJkzePJBRIPt6iomSTVTVObUVNtiUQurDV4=</HostId></Error>